# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jun Hyuk Han
	email = jhkn.dev@icloud.com
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
